# Test case from NC215A. ######################################################
#
# Including this to check on some line continuation cases which were causing
# problems in the testsuite.

000100 IDENTIFICATION DIVISION.                                         NC2154.2
<---->^<------------>^<------>^<---------------------------------------><------>^

000200 PROGRAM-ID.                                                      NC2154.2
<---->^<-------->^<----------------------------------------------------><------>^

000300     NC215A.                                                      NC2154.2
<---->^<--><><->^^<----------------------------------------------------><------>^

002900 ENVIRONMENT DIVISION.                                            NC2154.2
<---->^<--------->^<------>^<------------------------------------------><------>^

003000 CONFIGURATION SECTION.                                           NC2154.2
<---->^<----------->^<----->^<-----------------------------------------><------>^

003600 SPECIAL-NAMES.                                                   NC2154.2
<---->^<----------->^<-------------------------------------------------><------>^

004800     ALPHABET                                                     NC2154.2
<---->^<--><------><---------------------------------------------------><------>^

004900     THE-BIG-OL-LITERAL-ALPHABET IS "A+0B-1C*2D/3E=4Fl5G,6H;7I.8J"NC2154.2
<---->^<--><------------------------->^<>^<----------------------------><------>^

005000-    ""9K(L)M>N<O PQRSTUVWXYZ".                                   NC2154.2
<---->^<-->^<---------------------->^<---------------------------------><------>^

005100*                                                                 NC2154.2
<---->^<---------------------------------------------------------------><------>^

005200*                                                                 NC2154.2
<---->^<---------------------------------------------------------------><------>^

005700 DATA DIVISION.                                                   NC2154.2
<---->^<-->^<------>^<-------------------------------------------------><------>^

006200 WORKING-STORAGE SECTION.                                         NC2154.2
<---->^<------------->^<----->^<---------------------------------------><------>^

020800 01  HYPHEN-LINE.                                                 NC2154.2
<---->^<><><--------->^<-----------------------------------------------><------>^

020900     02 FILLER  PIC IS X VALUE IS SPACE.                          NC2154.2
<---->^<--><>^<----><><->^<>^^^<--->^<>^<--->^<------------------------><------>^

021000     02 FILLER  PIC IS X(65)    VALUE IS "************************NC2154.2
<---->^<--><>^<----><><->^<>^^^<>^<--><--->^<>^<-----------------------><------>^

021100-    "*****************************************".                 NC2154.2
<---->^<-->^<---------------------------------------->^<---------------><------>^

021200     02 FILLER  PIC IS X(54)    VALUE IS "************************NC2154.2
<---->^<--><>^<----><><->^<>^^^<>^<--><--->^<>^<-----------------------><------>^

021300-    "******************************".                            NC2154.2
<---->^<-->^<----------------------------->^<--------------------------><------>^

021400 01  CCVS-PGM-ID                     PIC X(9)   VALUE             NC2154.2
<---->^<><><---------><-------------------><->^^^^^<-><---><-----------><------>^

021500     "NC215A".                                                    NC2154.2
<---->^<--><------>^<--------------------------------------------------><------>^
