123456*89A123456789B123456789C123456789D123456789E123456789F123456789G12|4567
<--------------------------------------------------------------------------->^
FIXED                                                                        =
!DIRECTIVE                                                                   =
!TEXT                                                                        EOLN


# Example from MasterProgrammer in the forums.
# https://sourceforge.net/p/koopa/discussion/989430/thread/1f9c6886/
001470     TITLE 'PBO - PRODUCT BASIS OVERRIDE'
<--------------------------------------------->^
FIXED                                          =
COMPILER_DIRECTIVE                             !DIRECTIVE
!TEXT                                          EOLN


# Example from MasterProgrammer in the forums.
# https://sourceforge.net/p/koopa/discussion/989430/thread/1f9c6886/
CBL NOADV XREF MAP OFFSET OPTIMIZE                                      00000010
<------------------------------------------------------------------------------>^
FIXED                                                                           =
COMPILER_DIRECTIVE                                                              !DIRECTIVE
!TEXT                                                                           EOLN
