123456* ANNOTATED SAMPLE                                                KOOPA
<--------------------------------------------------------------------------->^
_                                                                            EOLN

-INC TEXTNAME  witty remark
<-->^<------><------------>^
CD SEP/CD CD COMMENT       EOLN

       >> source format is free
<----------------------------->^
CD                             eoln

>> source format is fixed
<----------------------->^
cd                       EOLN

       >> source format is free    *> witty remark
<---------------------------------><------------->^
CD                                 COMMENT        eoln

>> source format is fixed    *> witty remark
<---------------------------><------------->^
cd                           comment        EOLN

       >> source free
<------------------->^
CD                   eoln

>> source fixed
<------------->^
cd             EOLN

$ SET SOURCEFORMAT "FREE"
<----------------------->^
CD                       EOLN
