123456* ANNOTATED SAMPLE                                                KOOPA
<--------------------------------------------------------------------------->^
_                                                                            EOLN

       >> source format is free
<----------------------------->^
COMPILER_DIRECTIVE             eoln

>> source format is fixed
<----------------------->^
compiler_directive       EOLN

       >> source format is free    *> witty remark
<---------------------------------><------------->^
COMPILER_DIRECTIVE                 COMMENT        eoln

>> source format is fixed    *> witty remark
<---------------------------><------------->^
compiler_directive           comment        EOLN

       >> source free
<------------------->^
COMPILER_DIRECTIVE   eoln

>> source fixed
<------------->^
compiler_directive EOLN

$ SET SOURCEFORMAT "FREE"
<----------------------->^
COMPILER_DIRECTIVE       EOLN
