123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
FIXED F FIXED                                                           FIXED FIXED
_     _ COMMENT                                                         _     TEXT
SEQNR I _                                                               IDENT EOLN


# Continued string literals. ##################################################
#

        DISPLAY "HELLO
<---->^<-------------+^
FIXED F %             FIXED
_     _ %             COMMENT
_     _ %             SKIPPED
SEQNR I %             EOLN

      -         " WORLD".
<---->^<------->^+------>^
FIXED F FIXED   FIXED   FIXED  FIXED
_     _ _       COMMENT TEXT   _
_     _ SKIPPED LQ      _      _
SEQNR I _       _       _      EOLN
