123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
SEQNR I COMMENT                                                         IDENT EOLN/TEXT


# Continued string literals. ##################################################
#

        DISPLAY "HELLO
<---->^<------------->^
SEQNR I CTD__/TEXT    EOLN/SKIPPED/COMMENT

      -         " WORLD".
<---->^<-------><------->^
SEQNR I SKIPPED  __CTD/LQ/TEXT EOLN/TEXT


# Continued string literals. ##################################################
#

        DISPLAY 'HELLO
<---->^<------------->^
SEQNR I CTD__/TEXT    EOLN/SKIPPED/COMMENT

      -         ' WORLD'.
<---->^<-------><------->^
SEQNR I SKIPPED  __CTD/LQ/TEXT  EOLN/TEXT


# Continued picture strings. ##################################################
#

       01 FIELD-37A PIC S9(
<---->^<------------------>^
SEQNR I CTD__/TEXT         EOLN/SKIPPED/COMMENT

      -                    6)V9(6).
<---->^<------------------><------>^
SEQNR I SKIPPED         __CTD/TEXT EOLN/TEXT


# Continued cobol words. ######################################################
#

       MOVE SPACEMAN-SPIFF TO THE-FIFTH-
<---->^<------------------------------->^
SEQNR I CTD__/TEXT                      EOLN/SKIPPED/COMMENT

      -     DIMENSION.
<---->^<---><-------->^
SEQNR I SKIPPED __CTD/TEXT EOLN/TEXT


       ACCEPT THE-ANSWER-TO-QUESTION-7
<---->^<----------------------------->^
SEQNR I CTD__/TEXT                    EOLN/SKIPPED/COMMENT

      -       -FROM-SUSIE-DERKINS.
<---->^<-----><------------------>^
SEQNR I SKIPPED __CTD/TEXT        EOLN/TEXT


       ADD 100 TO MONEY-SAVED-
<---->^<--------------------->^
SEQNR I CTD__/TEXT            EOLN/SKIPPED/COMMENT

      -           WHILE
<---->^<---------><--->^
SEQNR I SKIPPED  _CTD_/TEXT EOLN/SKIPPED/COMMENT

      -           -BUILDING-CHARACTER.
<---->^<---------><------------------>^
SEQNR I SKIPPED    __CTD/TEXT         EOLN/TEXT


# Intermediate comment lines. #################################################
#

       DISPLAY THE-FIFTH-
<---->^<---------------->^
SEQNR I CTD__/TEXT       EOLN/SKIPPED/COMMENT

      * This comment is here. Obviously.
<---->^<------------------------------->^
SEQNR I SKIPPED                         EOLN/SKIPPED/COMMENT

      -     DIMENSION.
<---->^<---><-------->^
SEQNR I SKIPPED __CTD/TEXT EOLN/TEXT



       DISPLAY THE-FIFTH-
<---->^<---------------->^
SEQNR I CTD__/TEXT       EOLN/SKIPPED/COMMENT

      *
<---->^^
SEQNR I EOLN/SKIPPED/COMMENT

      -     DIMENSION.
<---->^<---><-------->^
SEQNR I SKIPPED __CTD/TEXT EOLN/TEXT


# Continued decimals. #########################################################
#

       MOVE -
<---->^<---->^
SEQNR I CTD__/TEXT EOLN/SKIPPED/COMMENT

      -     100
<---->^<---><->^
SEQNR I SKIPPED  _CTD_/TEXT  EOLN/SKIPPED/COMMENT

      -     000
<---->^<---><->^
SEQNR I SKIPPED  _CTD_/TEXT  EOLN/SKIPPED/COMMENT

      -     000
<---->^<---><->^
SEQNR I SKIPPED  _CTD_/TEXT  EOLN/SKIPPED/COMMENT

      -     .
<---->^<--->^^
SEQNR I SKIPPED  _CTD_/TEXT  EOLN/SKIPPED/COMMENT

      -     000
<---->^<---><->^
SEQNR I SKIPPED  _CTD_/TEXT  EOLN/SKIPPED/COMMENT

      -     000 TO TWELVE-AND-SEVEN.
<---->^<---><---------------------->^
SEQNR I SKIPPED  __CTD/TEXT         EOLN/TEXT


# Continuations and quoted quotes. ############################################
#

       DISPLAY "I want to be introduced as ""Calvin, boy of destiny."" B
<---->^<--------------------------------------------------------------->^
SEQNR I CTD__/TEXT                                                      EOLN/SKIPPED/COMMENT

      -        "ut you have to say it right, pause a little after ""boy,
<---->^<------><------------------------------------------------------->^
SEQNR I SKIPPED  _CTD_/LQ/TEXT                                          EOLN/SKIPPED/COMMENT

      -        """ and say ""Destiny"" a bit slower and deeper for empha
<---->^<------><------------------------------------------------------->^
SEQNR I SKIPPED  _CTD_/LQ/TEXT                                          EOLN/SKIPPED/COMMENT

      -        "sis. Say it, ""Boy... Of Dessstiny,"" Like that!".
<---->^<------><------------------------------------------------->^
SEQNR I SKIPPED  __CTD/LQ/TEXT                                    EOLN/TEXT

      
       MOVE    'thoroughly
<---->^<----------------->^
SEQNR I CTD__/TEXT        EOLN/SKIPPED/COMMENT

      -        ' useless 
<---->^<------><-------->^
SEQNR I SKIPPED _CTD_/LQ/TEXT EOLN/SKIPPED/COMMENT

      -        'information' TO CALVINS-COMMAND.
<---->^<------><------------------------------->^
SEQNR I SKIPPED __CTD/LQ/TEXT                   EOLN/TEXT

      
# The quoted quote may also be continued in mid-quoting. Which means adding yet
# another quote...

       MOVE                                'Our class voted Calvin the '
<---->^<--------------------------------------------------------------->^
SEQNR I CTD__/TEXT                                                      EOLN/SKIPPED/COMMENT

      -                   ''Most likely to be seen on the news some day'
<---->^<-----------------><-------------------------------------------->^
SEQNR I SKIPPED            _CTD_/LQ/TEXT                                EOLN/SKIPPED/COMMENT

      -     ''.' TO SUSIE-QUOTE.
<---->^<---><------------------>^
SEQNR I SKIPPED __CTD/LQ/TEXT   EOLN/TEXT

