123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
FIXED F FIXED                                                           FIXED FIXED
_     _ COMMENT                                                         _     TEXT
SEQNR I _                                                               IDENT EOLN


# Continued string literals. ##################################################
#

        DISPLAY "HELLO
<---->^<------------->^
FIXED F FIXED         FIXED
_     _ CTD__         SKIPPED
_     _ TEXT          COMMENT
SEQNR I _             EOLN


      -         " WORLD".
<---->^<-------><------->^
FIXED F FIXED   FIXED    FIXED
_     _ SKIPPED __CTD/LQ _
_     _ _       TEXT     TEXT
SEQNR I _       _        EOLN


# Continued string literals. ##################################################
#

        DISPLAY 'HELLO
<---->^<------------->^
FIXED F FIXED         FIXED
_     _ CTD__         SKIPPED
_     _ TEXT          COMMENT
SEQNR I _             EOLN


      -         ' WORLD'.
<---->^<-------><------->^
FIXED F FIXED   FIXED    FIXED
_     _ SKIPPED __CTD/LQ _
_     _ _       TEXT     TEXT
SEQNR I _       _        EOLN


# Continued picture strings. ##################################################
#

       01 FIELD-37A PIC S9(
<---->^<------------------>^
FIXED F FIXED              FIXED
_     _ CTD__              SKIPPED
_     _ TEXT               COMMENT
SEQNR I _                  EOLN


      -                    6)V9(6).
<---->^<------------------><------>^
FIXED F FIXED              FIXED   FIXED
_     _ SKIPPED            __CTD   _
_     _ _                  TEXT    TEXT
SEQNR I _                  _       EOLN


# Continued cobol words. ######################################################
#

       MOVE SPACEMAN-SPIFF TO THE-FIFTH-
<---->^<------------------------------->^
FIXED F FIXED                           FIXED
_     _ CTD__                           SKIPPED
_     _ TEXT                            COMMENT
SEQNR I _                               EOLN

      -     DIMENSION.
<---->^<---><-------->^
FIXED F FXD  FIXED    FIXED
_     _ SKP  __CTD    _
_     _ _    TEXT     TEXT
SEQNR I _    _        EOLN


       ACCEPT THE-ANSWER-TO-QUESTION-7
<---->^<----------------------------->^
FIXED F FIXED                         FIXED
_     _ CTD__                         SKIPPED
_     _ TEXT                          COMMENT
SEQNR I _                             EOLN


      -       -FROM-SUSIE-DERKINS.
<---->^<-----><------------------>^
FIXED F FIXED  FIXED              FIXED
_     _ SKP    __CTD              _
_     _ _      TEXT               TEXT
SEQNR I _      _                  EOLN


       ADD 100 TO MONEY-SAVED-
<---->^<--------------------->^
FIXED F FIXED                 FIXED
_     _ CTD__                 SKIPPED
_     _ TEXT                  COMMENT
SEQNR I _                     EOLN


      -           WHILE
<---->^<---------><--->^
FIXED F FIXED    FIXED FIXED
_     _ SKIPPED  _CTD_ SKIPPED
_     _ _        TEXT  COMMENT
SEQNR I _        _     EOLN


      -           -BUILDING-CHARACTER.
<---->^<---------><------------------>^
FIXED F FIXED     FIXED               FIXED
_     _ SKIPPED   __CTD               _
_     _ _         TEXT                TEXT
SEQNR I _         _                   EOLN


# Intermediate comment lines. #################################################
#

       DISPLAY THE-FIFTH-
<---->^<---------------->^
FIXED F FIXED            FIXED
_     _ CTD__            SKIPPED
_     _ TEXT             COMMENT
SEQNR I _                EOLN


      * This comment is here. Obviously.
<---->^<------------------------------->^
FIXED F FIXED                           FIXED
_     _ SKIPPED                         SKIPPED
_     _ COMMENT                         COMMENT
SEQNR I _                               EOLN


      -     DIMENSION.
<---->^<---><-------->^
FIXED F FXD  FIXED    FIXED
_     _ SKP  __CTD    _
_     _ _    TEXT     TEXT
SEQNR I _    _        EOLN


       DISPLAY THE-FIFTH-
<---->^<---------------->^
FIXED F FIXED            FIXED
_     _ CTD__            SKIPPED
_     _ TEXT             COMMENT
SEQNR I _                EOLN


      *
<---->^^
FIXED F FIXED
_     _ SKIPPED
_     _ COMMENT
SEQNR I EOLN


      -     DIMENSION.
<---->^<---><-------->^
FIXED F FXD  FIXED    FIXED
_     _ SKP  __CTD    _
_     _ _    TEXT     TEXT
SEQNR I _    _        EOLN


# Continued decimals. #########################################################
#

       MOVE -
<---->^<---->^
FIXED F FIXED FIXED
_     _ CTD__ SKIPPED
_     _ TEXT  COMMENT
SEQNR I _     EOLN


      -     100
<---->^<---><->^
FIXED F FXD FIXED FIXED
_     _ SKP _CTD_ SKIPPED
_     _ _   TEXT  COMMENT
SEQNR I _   _     EOLN


      -     000
<---->^<---><->^
FIXED F FXD  FIXED FIXED
_     _ SKP  _CTD_ SKIPPED
_     _ _    TEXT  COMMENT
SEQNR I _    _     EOLN


      -     000
<---->^<---><->^
FIXED F FXD FIXED FIXED
_     _ SKP _CTD_ SKIPPED
_     _ _   TEXT  COMMENT
SEQNR I _   _     EOLN


      -     .
<---->^<--->^^
FIXED F FXD FIXED FIXED
_     _ SKP _CTD_ SKIPPED
_     _ _   TEXT  COMMENT
SEQNR I _   _     EOLN


      -     000
<---->^<---><->^
FIXED F FXD FIXED FIXED
_     _ SKP _CTD_ SKIPPED
_     _ _   TEXT  COMMENT
SEQNR I _   _     EOLN

      -     000 TO TWELVE-AND-SEVEN.
<---->^<---><---------------------->^
FIXED F FXD  FIXED                  FIXED
_     _ SKP  __CTD                  _
_     _ _    TEXT                   TEXT
SEQNR I _    _                      EOLN


# Continuations and quoted quotes. ############################################
#

       DISPLAY "I want to be introduced as ""Calvin, boy of destiny."" B
<---->^<--------------------------------------------------------------->^
FIXED F FIXED                                                           FIXED
_     _ CTD__                                                           SKIPPED
_     _ TEXT                                                            COMMENT
SEQNR I _                                                               EOLN


      -        "ut you have to say it right, pause a little after ""boy,
<---->^<------><------------------------------------------------------->^
FIXED F FIXED    FIXED                                                  FIXED
_     _ SKIPPED  _CTD_/LQ                                               SKIPPED
_     _ _        TEXT                                                   COMMENT
SEQNR I _        _                                                      EOLN


      -        """ and say ""Destiny"" a bit slower and deeper for empha
<---->^<------><------------------------------------------------------->^
FIXED F FIXED    FIXED                                                  FIXED
_     _ SKIPPED  _CTD_/LQ                                               SKIPPED
_     _ _        TEXT                                                   COMMENT
SEQNR I _        _                                                      EOLN


      -        "sis. Say it, ""Boy... Of Dessstiny,"" Like that!".
<---->^<------><------------------------------------------------->^
FIXED F FIXED    FIXED                                            FIXED
_     _ SKIPPED  __CTD/LQ                                         _
_     _ _        TEXT                                             TEXT
SEQNR I _        _                                                EOLN

      
       MOVE    'thoroughly
<---->^<----------------->^
FIXED F FIXED             FIXED
_     _ CTD__             SKIPPED
_     _ TEXT              COMMENT
SEQNR I _                 EOLN


      -        ' useless 
<---->^<------><-------->^
FIXED F FIXED   FIXED    FIXED
_     _ SKIPPED _CTD_/LQ SKIPPED
_     _ _       TEXT     COMMENT
SEQNR I _       _        EOLN


      -        'information' TO CALVINS-COMMAND.
<---->^<------><------------------------------->^
FIXED F FIXED   FIXED                           FIXED
_     _ SKIPPED __CTD/LQ                        _
_     _ _       TEXT                            TEXT
SEQNR I _       _                               EOLN

      
# The quoted quote may also be continued in mid-quoting. Which means adding yet
# another quote...

       MOVE                                'Our class voted Calvin the '
<---->^<--------------------------------------------------------------->^
FIXED F FIXED                                                           FIXED
_     _ CTD__                                                           SKIPPED
SEQNR I TEXT                                                            COMMENT
SEQNR I _                                                               EOLN


      -                   ''Most likely to be seen on the news some day'
<---->^<-----------------><-------------------------------------------->^
FIXED F FIXED              FIXED                                        FIXED
_     _ SKIPPED            _CTD_/LQ                                     SKIPPED
_     _ _                  TEXT                                         COMMENT
SEQNR I _                  _                                            EOLN


      -     ''.' TO SUSIE-QUOTE.
<---->^<---><------------------>^
FIXED F FIXED   FIXED           FIXED
_     _ SKIPPED __CTD/LQ        _
_     _ _       TEXT            TEXT
SEQNR I _       _               EOLN
