123456* ANNOTATED SAMPLE                                                KOOPA
<--------------------------------------------------------------------------->^
_                                                                            EOLN

       IDENTIFICATION DIVISION.
<----------------------------->^
_                              EOLN

       PROGRAM-ID. FOO.
<--------------------->^
_                      EOLN

       PROCEDURE DIVISION.
<------------------------>^
_                         EOLN

123456*Hello world.
<----------------->^
_                  EOLN

       DISPLAY FOO
<---------------->^
_                 EOLN

       .
<------>^
_       EOLN
