123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
FIXED F FIXED                                                           FIXED FIXED
_     _ COMMENT                                                         _     TEXT
SEQNR I _                                                               IDENT EOLN


         == A Pseudo Literal ==
<---->^<><-------------------->^
FIXED F F FIXED                FIXED
_     _ T TEXT                 TEXT
SEQNR I : PSEUDO               EOLN
