123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
SEQNR I COMMENT                                                         IDENT EOLN/TEXT

         == A Pseudo Literal ==
<---->^<><-------------------->^
SEQNR I : PSEUDO               EOLN/TEXT

