123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
FIXED F FIXED                                                           FIXED FIXED
_     _ COMMENT                                                         _     TEXT
SEQNR I _                                                               IDENT EOLN


       SKIP1
<---->^<--->^
FIXED F FIXED      FIXED
_     _ FORMATTING TEXT
SEQNR I _          EOLN


       SKIP2
<---->^<--->^
FIXED F FIXED      FIXED
_     _ FORMATTING TEXT
SEQNR I _          EOLN


       SKIP3
<---->^<--->^
FIXED F FIXED      FIXED
_     _ FORMATTING TEXT
SEQNR I _          EOLN


       EJECT
<---->^<--->^
FIXED F FIXED      FIXED
_     _ FORMATTING TEXT
SEQNR I _          EOLN


       IDENTIFICATION DIVISION.
<---->^<---------------------->^
FIXED F FIXED                  FIXED
_     _ TEXT                   TEXT
SEQNR I _                      EOLN


       PROGRAM-ID. FOO.
<---->^<-------------->^
FIXED F FIXED          FIXED
_     _ TEXT           TEXT
SEQNR I _              EOLN
