123456* ANNOTATED SAMPLE                                                KOOPA
<---->^<---------------------------------------------------------------><--->^
SEQNR I COMMENT                                                         IDENT EOLN

123456*789A123456789B123456789C123456789D123456789E123456789F123456789G1
<---->^<--------------------------------------------------------------->^
SEQNR I COMMENT                                                         EOLN

       IDENTIFICATION DIVISION.
<---->^<---------------------->^
SEQNR I TEXT                   EOLN

       PROGRAM-ID. FOO.
<---->^<-------------->^
SEQNR I TEXT           EOLN

       PROCEDURE DIVISION.
<---->^<----------------->^
SEQNR I TEXT              EOLN

123456*Hello world.
<---->^<---------->^
SEQNR I COMMENT    EOLN

       DISPLAY FOO
<---->^<--------->^
SEQNR I TEXT      EOLN

       .
<---->^^^
SEQNR I TEXT EOLN


